@import "tailwindcss";

@theme {
  --font-title: "Bebas Neue", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-ubu: "Ubuntu", sans-serif;
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
  --color-frist: #1F3044;
}

html,
body {
  background-color: white;
}

/* Custom Colors */
.bg-frist {
  background-color: #1F3044;
}

.text-frist {
  color: #1F3044;
}

.border-frist {
  border-color: #1F3044;
}
